@font-face {
    font-family: "minecraft";
    src: url('./fonts/minecraft_AE.ttf') format('truetype');
}

body {
    font-family: minecraft, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: white;
    background-image: url('./img/bg.webp');
}